@media only screen and (min-width : 200px) {

  body {
    background: rgb(255, 255, 255) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;  
    overflow: hidden;    
  }
  
  pre {
    color: #70707c; 
    width: 200px;     
    text-align: left; 
    margin: auto auto;
    margin-top: 40vh; 
    margin-left: 10vw;
  }
  
  a {
    color: rgb(21, 83, 218); 
    text-decoration: none;
  }
  
  .footer {
    font-family: "Inconsolata", monospace;
    font-size: 0.7em;
    position: fixed;
    bottom: 0;       
    padding: 5px;; 
  }

  }
  
  @media only screen and (min-width : 900px) {
  
  pre {
    font-family: "Inconsolata", monospace;
    font-size: 0.9em;
    line-height: 16px;
    width: 225px;   
    margin: auto auto;  
    margin-top: 40vh;
    margin-left: 20vw;
  }
  
  }